---
import "../styles/global.css"
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Calculadora Hipotecario UVA</title>
    <script
      defer
      src="https://umami.sv-hetzner01.aon.ar/script.js"
      data-website-id="335c08de-3ccc-4667-bb27-2dfe1708071c"></script>
  </head>
  <body class="bg-gray-100 p-4">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
